* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}

.btn {
    background: mediumaquamarine;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    color: mediumaquamarine;
    background: white;
    padding: 3px 8px;
    border: 2px solid mediumaquamarine;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: mediumaquamarine;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: white;
    color: mediumaquamarine;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav .search button img {
    width: 20px;
    height: 20px;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user img {
    width: 40px;
    height: 40px;
}

.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}

.container .content .income-content {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.container .content .income-content .total-income {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .income-content .total-income ul {
    padding: 20px;
    font-size: x-large;
}

.container .content .income-content .current-income {
    grid-column: 4/span 2;
    grid-row: 1/span 2;
    border: 2px solid black;
}

.container .content .income-content .current-income .current-income-title {
    height: 30%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .income-content .current-income table {
    padding: 10px;
    width: 100%;
    height: 70%;
}

.container .content .income-content .recent-payments {
    grid-column: 1/span 4;
    grid-row: 3/span 3;
    border: 2px solid black;
}

.container .content .income-content .recent-payments .recent-payments-title {
    height: 20%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .content .income-content .recent-payments table {
    padding: 10px;
    width: 100%;
    height: 80%;
}

.container .content .income-content .average-income {
    grid-column: 5/span 1;
    grid-row: 3/span 3;
    border: 2px solid black;
}

.container .content .income-content .average-income .average-income-title {
    height: 20%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .income-content .average-income .average-income-content {
    height: 80%;
    border: 2px solid black;
}

.container .content .income-content .average-income .average-income-content .average-year {
    height: 33.33%;
    border: 2px solid black;
}

.container .content .income-content .average-income .average-income-content .average-month {
    height: 33.33%;
    border: 2px solid black;
}

.container .content .income-content .average-income .average-income-content .average-day {
    height: 33.33%;
    border: 2px solid black;
}